@page "/"

<IgbGridLite @ref=grid TItem="NwindDataItem" Data="NwindData" class="grid" home-scope
          SortConfiguration="@sortConfiguration" Columns="cols"
          SortExpressions="@initialSort"
          FilterExpressions="@initialFilter"
          Sorting="HandleSorting" Sorted="HandleSorted"
          Filtering="HandleFiltering" Filtered="HandleFiltered">

</IgbGridLite>

<button @onclick="BtnClick">Sort</button>

@code {
    public IgbGridLite<NwindDataItem> grid;

    private IgbGridLiteSortConfiguration sortConfiguration = new IgbGridLiteSortConfiguration()
    {
        Multiple = true,
        TriState = false
    };

    private List<IgbGridLiteSortExpression> initialSort;
    private List<IgbGridLiteFilterExpression> initialFilter;

    protected override void OnInitialized()
    {
        initialFilter = new List<IgbGridLiteFilterExpression>
        {
            new IgbGridLiteFilterExpression
            {
                Key = nameof(NwindDataItem.ProductName),
                Condition = "contains",
                SearchTerm = "a"
            },
            new IgbGridLiteFilterExpression
            {
                Key = nameof(NwindDataItem.ProductName),
                Condition = "contains",
                SearchTerm = "b"
            }
        };

        initialSort = new List<IgbGridLiteSortExpression>
        {
            new IgbGridLiteSortExpression
            {
                Key = nameof(NwindDataItem.ProductName),
                Direction = GridLiteSortingDirection.Ascending
            }
        };
    }

    public async void BtnClick()
    {
        await this.grid.SortAsync(new List<IgbGridLiteSortExpression>
            {
                new IgbGridLiteSortExpression() { Key = nameof(NwindDataItem.ProductName), Direction = GridLiteSortingDirection.Descending }
            }
        );
    }


    private NwindData _nwindData = null;
    public NwindData NwindData
    {
        get
        {
            if (_nwindData == null)
            {
                _nwindData = new NwindData();
            }
            return _nwindData;
        }
    }

    private void HandleSorting(IgbGridLiteSortingEventArgs e)
    {

    }

    private void HandleSorted(IgbGridLiteSortedEventArgs e)
    {

    }

    private void HandleFiltering(IgbGridLiteFilteringEventArgs e)
    {

    }

    private void HandleFiltered(IgbGridLiteFilteredEventArgs e)
    {

    }

    public List<IgbColumnConfiguration> cols = new List<IgbColumnConfiguration> {
        new IgbColumnConfiguration {
            Key = nameof(NwindDataItem.ProductID),
            Type = GridLiteColumnDataType.Number,
            Sort = new IgbColumnSortConfiguration {
                CaseSensitive = false
            },
            Filter = true,
            Resizable = true
        },
        new IgbColumnConfiguration {
            Key = nameof(NwindDataItem.ProductName),
            Type = GridLiteColumnDataType.String,
            Sort = true,
            Filter = true,
            Resizable = true
        },
    };
}
