@page "/"

<IgbGridLite @ref=grid TItem="NwindDataItem" Data="NwindData" class="grid" home-scope
          SortConfiguration="@sortConfiguration" Columns="cols"
          SortExpressions="@initialSort"
          FilterExpressions="@initialFilter"
          Sorting="HandleSorting" Sorted="HandleSorted"
          Filtering="HandleFiltering" Filtered="HandleFiltered">

</IgbGridLite>

<button @onclick="BtnClick">Sort</button>
<button @onclick="ToggleUnitColumns">Toggle Unit columns</button>

@code {
    public IgbGridLite<NwindDataItem> grid;

    private IgbGridLiteSortConfiguration sortConfiguration = new IgbGridLiteSortConfiguration()
    {
        Multiple = true,
        TriState = false
    };

    private List<IgbGridLiteSortExpression> initialSort;
    private List<IgbGridLiteFilterExpression> initialFilter;
    private bool showUnitColumns = false;

    protected override void OnInitialized()
    {
        initialFilter = new List<IgbGridLiteFilterExpression>
        {
            new IgbGridLiteFilterExpression
            {
                Key = nameof(NwindDataItem.ProductName),
                Condition = "contains",
                SearchTerm = "a"
            },
            new IgbGridLiteFilterExpression
            {
                Key = nameof(NwindDataItem.ProductName),
                Condition = "contains",
                SearchTerm = "b"
            }
        };

        initialSort = new List<IgbGridLiteSortExpression>
        {
            new IgbGridLiteSortExpression
            {
                Key = nameof(NwindDataItem.ProductName),
                Direction = GridLiteSortingDirection.Ascending
            }
        };
    }

    public async Task BtnClick()
    {
        await this.grid.SortAsync(new List<IgbGridLiteSortExpression>
            {
                new IgbGridLiteSortExpression() { Key = nameof(NwindDataItem.ProductName), Direction = GridLiteSortingDirection.Descending }
            }
        );
    }

    public async Task ToggleUnitColumns()
    {
        showUnitColumns = !showUnitColumns;
        if (showUnitColumns)
        {
            cols = [
                .. cols,
                new IgbColumnConfiguration {
                    Key = nameof(NwindDataItem.QuantityPerUnit),
                    Type = GridLiteColumnDataType.String,
                    Sort = true,
                    Filter = true,
                    Resizable = true
                },
                new IgbColumnConfiguration {
                    Key = nameof(NwindDataItem.UnitPrice),
                    Type = GridLiteColumnDataType.Number,
                    Sort = true,
                    Filter = true,
                    Resizable = true
                }
            ];
            initialSort = [
                .. initialSort,
                new IgbGridLiteSortExpression
                {
                    Key = nameof(NwindDataItem.QuantityPerUnit),
                    Direction = GridLiteSortingDirection.Ascending
                }
            ];
        }
        else
        {
            cols = cols.SkipLast(2).ToList();
            initialSort = initialSort.SkipLast(1).ToList();
        }
    }

    private NwindData _nwindData = null;
    public NwindData NwindData
    {
        get
        {
            if (_nwindData == null)
            {
                _nwindData = new NwindData();
            }
            return _nwindData;
        }
    }

    private void HandleSorting(IgbGridLiteSortingEventArgs e)
    {

    }

    private void HandleSorted(IgbGridLiteSortedEventArgs e)
    {

    }

    private void HandleFiltering(IgbGridLiteFilteringEventArgs e)
    {

    }

    private void HandleFiltered(IgbGridLiteFilteredEventArgs e)
    {

    }

    public List<IgbColumnConfiguration> cols = new List<IgbColumnConfiguration> {
        new IgbColumnConfiguration {
            Key = nameof(NwindDataItem.ProductID),
            Type = GridLiteColumnDataType.Number,
            Sort = new IgbColumnSortConfiguration {
                CaseSensitive = false
            },
            Filter = true,
            Resizable = true
        },
        new IgbColumnConfiguration {
            Key = nameof(NwindDataItem.ProductName),
            Type = GridLiteColumnDataType.String,
            Sort = true,
            Filter = true,
            Resizable = true
        },
    };
}
